{% extends "layout.html.twig" %}
{% block title %}
	{{ parent() }}
	- Products
{% endblock %}

{% block content %}
<ul>
    {% for product in products %}
       <li>{{product}}</li>
    {% endfor %}

    {{dump(products)}}
</ul>

{% endblock %}